@charset "utf-8" ;

/* p::before {
  content: '-';
} */
a {
  color: red;
}
.link {
  color: green;
}
.link[target] {
  color: pink;
}
a.link[target]{
  color: blue;
}

/* p::after {
  content: '-';
} */
/* div:not(.box){
border: 1px solid red;
} */
/* button:hover {
  font-weight: bold;
}

input:focus {
border: 8px solid blue;
}

button:active {
  border: 8px solid red;
} */



/* li:nth-child(odd) { */
 /* li:nth-child(even) { */

  /* li:nth-child(3n){
    color: red;
}
li:first-child{
  background: pink;
}
li:last-child{
  background: skyblue;
} */

/* li + li { */
  /* border-bottom: 1px solid red; */
  /* border-top: 1px solid red;
} */
/* section > p {
  color: red;
}
section p {
  background: blue;
} */





/* [target]{
  font-weight: bold;
}
[type ="password"] {
border: 8px solid blue;  
} */
/* div.box {
  color: red;
}
h1 ,
p {background: pink;
} */
