@charset "utf-8";

body {
  padding: auto 4%;
  margin: 0;
  color: #333;
  font-size: 14.4px;
  
}
/* common */
.container {
  width: 827px;
  margin: 64px auto 0;
  border: 5px solid blue;
}
/* なぜ！ */
h2 {
  margin: 0;
  text-align: center;

}

h3 {
  margin: 0;
  font-weight: normal;
  line-height: 1.5;
 
  
}
p {
  margin: 0;
  padding-top: 47px;line-height: 2;
}
main {
  padding: 64px;
}
ul {
  list-style: none;
}
/* header */
header {
  background: pink;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 64px;
  /* text-align: center; */
  
}
h1 {
  margin: 0;
  /* font-weight: normal; */
  /* text-align: center; */
  width: 120px;
  height: 27px;
  /* box-sizing: border-box; */
}

nav {
  margin-left: auto;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* インスタの画像だけ */
img {
  vertical-align: bottom;
}
/* li {
  display: inline;
} */


/* li img {width: 264px;
  height: 172px;
   } */
.mainvisual img {
width: 100%;
}




/* hero */

/* about */
.about {
  display: block;
  /* margin: 0 auto; */
  text-align: left;
  margin-top: 90px;
}
.pro {
  padding-top: 37px; padding-bottom: 32px;
}

/* works */
.works {
  text-align: center;
  margin-top: 90px;
}

/* News */
.news {
  border-top: 2px solid #C8C8C8;
}
dd {
  border-bottom: 2px solid #C8C8C8;
  /* margin-top: 90px; */
}

/* Contact */
.contact {
  margin-top: 90px;
}

 /* form */
 input {
 margin: 0 auto;
 }
 .form {
  display: inline;
 }


/* button */
button {
  background: #24292E;
  color: #FFFFFF;
  padding: 16px 50px;
  display: block;
  margin: 0 auto;
  /* text-align: center; */
  cursor: pointer;
}



/* footer */
footer {
  background: #24292E;text-align: center;
}
small {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  
}