@charset "utf-8";

body {
  width: 960px;
  padding: auto 4%;
  margin: 0;
  height: 420px;
  
}
/* common */
h2 {
  margin: 0;
  text-align: center;

}

h3 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0;
  padding-top: 47px;
}
/* header */
header {
  background: pink;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 64px;
  text-align: center;
  
}
h1 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  width: 120px;
  height: 27px;
  box-sizing: border-box;

   font-size: 20;
  color: #2B3137;
  border: 10px blue solid;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
li {
  display: inline;
}


img {
  vertical-align: bottom;
}
/* hero */

/* about */
.about {
  display: block;
  /* margin: 0 auto; */
  text-align: left;
  margin-top: 90px;
}
.pro {
  padding-top: 37px;
}

/* works */
.works {
  text-align: center;
  margin-top: 90px;
}

/* News */
.news {
  border-top: 2px solid #C8C8C8;
}
dd {
  border-bottom: 2px solid #C8C8C8;
  /* margin-top: 90px; */
}

/* Contact */
.contact {
  margin-top: 90px;
}

 /* form */
 input {
 margin: 0 auto;
 }
 .form {
  display: inline;
 }


/* button */
button {
  background: #24292E;
  color: #FFFFFF;
  padding: 16px 50px;
  display: block;
  margin: 0 auto;
  /* text-align: center; */
}



/* footer */
footer {
  background: #24292E;text-align: center;
}
small {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  
}